.about-kurs {
    padding: 200px;
    position: relative;
    &__title {
        z-index: 21;
        position: relative;
        top: -325px;
        div {
            position: absolute;
            top: 0;
            left: 0;
            width: 658px;
            height: 227px;
        }
        h3 {
            position: absolute;
            top: 90px;
            left: 227px;
            font-size: 64px;
        }
        img {
            max-height: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }
    &__text {
        line-height: 1.4;
        width: 75%;
    }
    &__cards {
        padding-top: 75px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }
    &__card {
        background-position: center!important;
        background-repeat: no-repeat!important;
        background-size: cover!important;
        padding: 25px;
        display: flex;
        align-items: center;
    }
    &__back {
        z-index: 10;
        position: absolute;
        top: -100%;
        right: -60%;
        &--above {
            position: relative;
            right: 70%;
            top: 125px;
        }
    }
}