.about-kurs {
    position: relative;
    z-index: 20;
    padding:  0 0 200px;
    &__text {
        line-height: 1.4;
        width: 75%;
    }
    &__cards {
        padding-top: 75px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }
    &__card {
        background-position: center!important;
        background-repeat: no-repeat!important;
        background-size: cover!important;
        padding: 25px;
        display: flex;
        align-items: center;
    }
    &__back {
        z-index: 10;
        position: absolute;
        top: -100%;
        right: -60%;
        &--above {
            position: relative;
            right: 70%;
            top: 125px;
        }
    }
}

@media (max-width: 979px) {
    .about-kurs {
        &__back {
            display: none;
        }
        &__cards {
            grid-template-columns: 1fr;
            padding: 75px 30px 0;
        }
        &__card {
            padding: 50px;
        }
    }
}