.advantages {
    padding: 0 0 350px;
    position: relative;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    z-index: 20;
    &__title {
        min-width: 800px;
        min-height: 250px;
        background-repeat: no-repeat !important;
        background-size: contain !important;
        background-position: center !important;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -150px;
        h3 {
            font-size: 64px;
        }
    }
    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }
    &__card {
        flex: 500px;
        display: flex;
        gap: 30px;
    }
    &__number {
        font-size: 96px;
        color: #EF6E1C;
        line-height: 0.6;
    }
    &__back {
        position: absolute;
        bottom: 0;
        left: -200px;
    }
    &__flowers {
        position: absolute;
        top: -100px;
        right: -50px;
        z-index: 26;
    }
}

@media (max-width: 979px) {
    .advantages {
        padding: 0 20px;
        &__cards {
            position: relative;
            top: -150px;
            padding: 15px;
            p {
                font-size: 20px;
            }
        }
        &__number {
            font-size: 54px;
        }
        &__back {
            left: -10px;
            bottom: 80px;
            img {
                max-height: 150px;
            }
        }
        &__flowers {
            top: -30px;
            right: 0;
            img {
                max-height: 100px;
            }
        }
    }
}