.advantages {
    padding: 0 0 350px;
    z-index: 20;
    &__title {
        min-width: 800px;
        min-height: 250px;
        background-repeat: no-repeat!important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
        background-position: center !important;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -150px;
        h3 {
            font-size: 64px;
        }
    }
    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }
    &__card {
        flex: 500px;
        display: flex;
        gap: 30px;
    }
    &__number {
        font-size: 96px;
        color: #EF6E1C;
        line-height: 0.6;
    }
    &__back {
        position: absolute;
        bottom: 0;
        left: -200px;
    }
    &__flowers {
        position: absolute;
        top: -100px;
        right: -50px;
        z-index: 22;
    }
}

@media (max-width: 979px) {
    .advantages {
        &__back {
            left: -60px;
            bottom: -190px;
        }
    }
}