.m-footer {
    background-color: #725543;
    &__body {
        display: flex;
        padding: 25px;
        gap: 30px;
    }
    &__mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    &__icons {
        display: flex;
        color: #fff;
        gap: 15px;
    }
    &__menu {
        display: flex;
        align-items: center;
        gap: 30px;
        li a {
            color: #fff;
        }
    }
    &__copyright {
        padding: 30px 0 ;
        color: #fff;
        font-size: 24px;
        display: flex;
        justify-content: flex-end;
        gap: 270px;
        span {
            text-decoration: dashed;
            position: relative;
            display: inline-block;
            text-decoration-line: underline;
            text-decoration-style: dashed;
        }
    }
}

@media (max-width: 979px) {
    .m-footer {
        &__body {
            display: block;
        }
        &__copyright {
            flex-direction: column;
            gap: 15px;
            font-size: 16px;
            align-items: center;
        }
        &__menu {
            li a {
                font-size: 20px;
            }
        }
        &__mobile {
            position: relative;
            justify-content: center;
        }
        &__icons {
            position: absolute;
            top: -70px;
            right: 0;
        }
    }
}