.m-header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 50;
    &__body {
        padding: 50px 25px 0px;
        display: flex;
        ul.m-header__menu {
            display: flex;
            gap: 15px;
            li:hover {
                -webkit-text-decoration: dashed;
                text-decoration: dashed;
                position: relative;
                display: inline-block;
                text-decoration-line: underline;
                text-decoration-style: dashed;
            }
        }
    }
    &__mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: 35px;
    }
    &__icons {
        display: flex;
        gap: 15px;
    }
}

.burger {
    display: none;
    position: relative;
    width: 30px;
    height: 25px;
    z-index: 999;
    cursor: pointer;
    & span,
    &::before,
    &::after {
        content: '';
        background-color: #2F2F2F;
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0px;
        border-radius: 5em;
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
    & span {
        top: 11px;
    }
}

@media (max-width: 979px) {
    .m-header {
        &__body {
            align-items: center;
            justify-content: space-between;
        }
        &__mobile {
            display: none;
            &.active {
                height: 100vh;
                width: 30%;
                padding: 150px 50px;
                display: flex;
                gap: 20px;
                flex-direction: column;
                justify-content: start;
                align-items: flex-start;
                position: absolute;
                top: 0;
                right: 0;
                background: #FFF8EA;
                ul  {
                    flex-direction: column;
                    li {
                        font-size: 24px;
                    }
                }
                img {
                    max-width: 30px;
                }
            }
        }
    }
    .burger {
        display: block;
        &.active {
            &::before {
                transform: rotate(45deg);
                top: 10px;
            }
            &::after {
                transform: rotate(-45deg);
                bottom: 11px;
            }
            & span {
                display: none;
            }
        }
    }
}