.reviews {
    padding: 0 0 200px;
    &__back {

    }
    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    &__item {
        min-height: 500px;
        position: relative;
        background-repeat: no-repeat!important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
        h2 {
            font-size: 96px;
            color: #EF6E1C;
 
        }
        p {

        }
        &--text {
            position: relative;
            top: 50px;
            left: 50px;
            text-align: justify;
            max-width: 500px;
        }
        .flowers {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
        }
        &#review1 {
            
            .reviews__item--text {

            }
            .flowers {

            }
        }
        &#review2 {
            top: 250px;
            left: -50px;
            .reviews__item--text {

            }
            .flowers {

                &--first {

                }
                &--second {

                }
            }
        }
        &#review3 {
            top: -50px;
            .reviews__item--text {
                max-width: 400px;
                top: 100px;
                left: 70px;
            }
            .flowers {

            }
        }
        &#review4 {
            top: 180px;
            left: -50px;
            .reviews__item--text {

            }
            .flowers {
  
                &--second {

                }
            }
        }
        &#review5 {
            
            left: 50px;
        }
    }
}

@media (max-width: 979px) {
    .reviews {
        &__items {
            grid-template-columns: 1fr;
        }
        &__item {
            position: initial;
        }
    }
}